<?xml version="1.0"?>
<!--
 Payment Name      : CCAvenue MCPG
 Description		  : Extends Payment with  CCAvenue MCPG.
 CCAvenue Version  : MCPG-2.0
 Module Version    : bz-3.0
 Author			  : BlueZeal SoftNet
 Copyright         : © 2009-2017
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="admin_system_config_changed_section_payment">
        <observer name="ccavenuepay_validate" instance="Magento\Ccavenuepay\Observer\RestrictAdminUsageObserver" />
    </event>
	<event name="payment_method_is_active">
        <observer name="ccavenuepay_init" instance="Magento\Ccavenuepay\Observer\RestrictAdminUsageObserver" />
    </event>
</config>
