<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order\Pdf\Invoice"
                type="Webspeaks\PrintRupee\Model\Order\Pdf\Invoice\ChangePdf"/>
    <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo"
                type="Webspeaks\PrintRupee\Model\Order\Pdf\Invoice\ChangePdf"/>
</config>
